.statics {
    background: #fff;
    padding: 44px 0;
}

.statics-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.statics-title {
    max-width: 220px;
    color: #4D4D4D;
    font-size: 25px;
    font-weight: 600;
    line-height: 122%;
    margin: 0 0 10px;
}

.statics-title span {
    display: block;
    color: #4CAF4F;
}

.statics-right {
    max-width: 900px;
}

.statics-right p {
    color: #4D4D4D;
    font-size: 15px;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
}

@media screen and (max-width: 960px) {
    .statics {
        padding: 30px 0;
    }

    .statics-title {
        width: 180px;
        font-size: 18px;
    }

    .statics-right {
        width: 80%;
    }

    .statics-right p {
        font-size: 13px;
    }
}

@media screen and (max-width: 720px) {

    .statics-con {
        flex-direction: column;
    }

    .statics-title {
        text-align: center;
        margin-bottom: 5px;
    }
}